/*--------------------------------------------------*/
/*
/* Common
/*
/*--------------------------------------------------*/

/* Global Reset */
html, body { height: 100%; }

body {
  background-color: #fff;
  font: 13.34px;
  font-size: small;
  font-family: '微软雅黑',Helvetica, Arial, sans-serif;
  text-align: center; 
  color: #222;
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0;}

a         { color: #654321; }
a:hover   { color: #654321; }
a:visited { color: #654321; }

/*--------------------------------------------------*/
/*
/* Home
/*
/*--------------------------------------------------*/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #333;
  font-family: Monaco, "Courier New", monospace;
  font-size: 90%;
}

/*--------------------------------------------------*/
/*
/* Site
/*
/*--------------------------------------------------*/

.site {
  font-size: 115%;
  text-align: justify;
  /*width: 42em;*/
  width: 50em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #333;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #333;
}

.meta {
  color: #aaa;
}

.meta span {
  margin-left: 0em;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*--------------------------------------------------*/
/*
/* Posts
/*
/*--------------------------------------------------*/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
  font-family: "Monaco", monospace !important;
  font-size: 12px;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*
  -----------------------------------------
    My style
  -----------------------------------------
*/
pre {
  display: block;
  border: 2px dashed #ccc;
  min-width: 400px;
  margin: 20px;
}
h3 span {
  font-size: 14px;
}
.code {
  list-style: none;
  margin: 10px;
  background: lightyellow;
  padding: 20px;
}

.code li {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
}
.code li {
  *display: inline;
}

/* 利用font-size 来解决 */
.code1  {
  font-size: 0; /* safari 无效，其他有效 */
}
.code1 li {
  font-size: 12px;
}

/* 利用 letter-sapcing 来解决 */
.code2  {
   letter-spacing: -4px; /* chrome 浏览器下有时是 -8px, 这时候对 safari 就得做兼容 */
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
  ::i-block-chrome, .code2 {
    letter-spacing: -4px; /* hack for safari */
  }
}
.code2 li {
   letter-spacing: 0;
}

/* 利用 word-sapcing 来解决 */
.code3  {
   word-spacing: -4px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
  ::i-block-chrome, .code3 {
    word-spacing: -20px; /* hack for safari */
  }
}
.code3 li {
   word-spacing: 0;
}

/* 利用 display:table; 提供的方法 */
.code4  {
  width: 100%;
  display:table;  /* 调教webkit*/
  word-spacing:-1em;
}
.code4 li {
  word-spacing:0;
}
